<mat-toolbar color="primary">
  <span> School Information System</span>
  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item disabled>
      <mat-icon><i class="material-icons">perm_identity</i></mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>notifications_off</mat-icon>
      <span>Notifications</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>fingerprint</mat-icon>
      <span>Login</span>
    </button>
  </mat-menu>
</mat-toolbar>


<mat-tab-group >
<mat-tab label="Update Student" >
<form  (ngSubmit)="updateStudent(students._id)" name="studentForm">
  <div class="form-container">
    <h1> Update Student</h1>

    <mat-form-field>
      <input matInput type="text" placeholder="Surname" [(ngModel)]="students.surname" name="surname" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Name" [(ngModel)]="students.name" name="name" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="email" placeholder="Email" [(ngModel)]="students.email" name="email" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Address" [(ngModel)]="students.address" name="address" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Phone" [(ngModel)]="students.phone" name="phone" >
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Gender" [(ngModel)]="students.gender" name="gender" required>
    </mat-form-field>

    <!--<mat-form-field>-->
      <!--<mat-select placeholder="Gender" [(ngModel)]="student.gender" name="gender" required>-->
        <!--<mat-option value="Male">Male </mat-option>-->
        <!--<mat-option value="Female">Female </mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field>-->

    <mat-form-field>
      <input matInput type="number" placeholder="Age" [(ngModel)]="students.age" name="age" required>
    </mat-form-field>


    <mat-form-field>
      <input matInput type="text" placeholder="Department" [(ngModel)]="students.department" name="department" required>
    </mat-form-field>


    <mat-form-field>
      <input matInput type="text" placeholder="Course" [(ngModel)]="students.course" name="course" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Level" [(ngModel)]="students.level" name="level" required>
    </mat-form-field>

    <!--<mat-form-field>-->
      <!--<mat-select placeholder="Level" [(ngModel)]="student.level" name="level" required>-->
        <!--<mat-option value="100">100</mat-option>-->
        <!--<mat-option value="200">200</mat-option>-->
        <!--<mat-option value="300">300</mat-option>-->
        <!--<mat-option value="400">400</mat-option>-->
        <!--<mat-option value="500">500</mat-option>-->
      <!--</mat-select>-->
    <!--</mat-form-field>-->

    <mat-form-field>
      <input matInput type="number" placeholder="Year Enrolled" [(ngModel)]="students.year_enrolled" name="year_enrolled" required>
    </mat-form-field>


    <button type="submit" mat-raised-button color="primary" (click)="openSnackBar()">Update</button>

  </div>

</form>
</mat-tab>
</mat-tab-group>
