.form-container{
  display: block;
  width: 90%;
  padding: 2em;
  margin: 2em;
  background: #fff;
  display: flex;
  flex-direction: column;
}

h1{
  margin-bottom: 2rem;
  font-weight: bold;
  font-family: 'Muli';
  font-size: 2em;
}

.form-container > * {
  width: 100%;
}

.matlist{
  margin-left: 135px;
  word-spacing: 300px;
}

.buttonlist{
  margin: 40px;
}

.labellist{
  padding:  50px;
  margin: 100px;
}
